#OpenLayers
lib/OpenLayers-2.12/
#test unit


*.tmp
*.bak
*.swp

#windows stupid files
Thumbs.db

#github pages (gh-pages branch)
#docs/

#cosas viejas
*.old

#cosas que no van
argenmap.jquery.min.js
argenmap.jquery.js.orig
bump.sh
build/parse-1.2.9.min.js
