#cubeContent {
    position: relative;
    margin: 80px auto 0;
    -webkit-perspective: 1200; 
    -webkit-perspective-origin: 50% 50%;    
    -moz-perspective: 1200; 
    -moz-perspective-origin: 50% 50%;
    
-webkit-box-reflect:below 30px 
    -webkit-gradient(
      linear, 
      left top, 
      left bottom, 
      from(transparent), 
      color-stop(0.8, transparent), 
      to(rgba(255,255,255,0.4)));
}

#cube {    
    position: relative;
    margin: 80px auto 0;
    height: 500px;
    width: 500px;
    -webkit-transition: -webkit-transform 2s linear;
    -webkit-transform-style: preserve-3d;
    -moz-transition: -moz-transform 2s linear;
    -moz-transform-style: preserve-3d;
}

.face {
    position: absolute;
    height: 500px;
    width: 500px;
    background-color: rgba(60, 0, 60, 0.8);
    border: 1px solid #fff;
}   

#cube > div:nth-child(1) {
    -webkit-transform: translateZ(250px);
    -moz-transform: translateZ(250px);
    background-color: rgba(0,51,255, 0.8);
}

#cube > div:nth-child(2)  {
    -webkit-transform: rotateX(90deg) translateZ(250px);
    -moz-transform: rotateX(90deg) translateZ(250px);
    background-color: rgba(0,255,51, 0.8);
}

#cube > div:nth-child(3) {
    -webkit-transform: rotateY(90deg) translateZ(250px);
    -moz-transform: rotateY(90deg) translateZ(250px);
    background-color: rgba(255,0,51, 0.8);
}

#cube > div:nth-child(4) {
    -webkit-transform: rotateY(180deg) translateZ(250px);
    -moz-transform: rotateY(180deg) translateZ(250px);
    background-color: rgba(204,0,51, 1.0);
}

#cube > div:nth-child(5) {
    -webkit-transform: rotateY(-90deg) translateZ(250px);
    -moz-transform: rotateY(-90deg) translateZ(250px);
    background-color: rgba(255,255,0, 0.8);
}

#cube > div:nth-child(6) {
    -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(250px);
    -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(250px);
    background-color: rgba(255,102,0, 0.8);
}
